.cell {
    float: left;
    min-height: 15px;
    min-width: 15px;
    border: 1px solid #aaa;
    text-align: center;
}

.cell-selected {
    background-color: #ffffed;
}

.fow {
    background-color: #bbb;
}
