<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game - Voyager</title>

    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <link rel="stylesheet" type="text/css" href="/static/game.css">
    <style type="text/css">
     body {
         padding-top: 40px;
         padding-bottom: 40px;
         background-color: #eee;
     }
    </style>
  </head>
  <body>
      <div class="container">
        <div id="scoreContainer"></div>
        <div id="gridContainer"></div>
      </div> <!-- /container -->

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script type="text/javascript">
     var uuid = '{{uuid}}';
     var mapDimension = {{map_dim}};
     var playerName = '{{player_name}}';
     var start = {{start}};
     var dest = {{dest}};
     var state = null;

     drawGrid();
     move(null, start);
     placeDestination(dest);
     attachEventListeners();

     function drawGrid() {
         var nrow = mapDimension[0];
         var ncol = mapDimension[1];
         var container = document.getElementById('gridContainer');
         var cellSize = Math.floor((container.offsetWidth - 200) / nrow);

         for (var i = 0; i < nrow; i++) {
             var row = document.createElement("div");
             row.className = "row";
             for (var j = 0; j < ncol; j++) {
                 var cell = document.createElement("div");
                 cell.classList.add("cell", "fow");
                 cell.setAttribute(
                     "style",
                     "width:" + cellSize + "px; " +
                     "height:" + cellSize + "px; " +
                     "font-size: " + cellSize / 3 + "px;"
                 );
                 cell.id =  i + '-' + j;
                 attachCellClickEventListener(cell);
                 row.appendChild(cell);
             }
             container.appendChild(row);
         }
     }

      function getNeighbours(cell, mapDimension) {
          var possibleNeighbours = [
              [cell[0] + 1, cell[1]],
              [cell[0], cell[1] + 1],
              [cell[0] - 1, cell[1]],
              [cell[0], cell[1] - 1]
          ];
          return possibleNeighbours
              .filter(cell => {
                  if (cell[0] >= 0 && cell[0] < mapDimension[0] &&
                      cell[1] >= 0 && cell[1] < mapDimension[1]) {
                      return true;
                  } else {
                      return false;
                  }
              });
      }

      function validateMove(from, to, mapDimension) {
          if (from !== null) {
              var neighbours = getNeighbours(from, mapDimension);
              console.log(neighbours, from, to);
              return neighbours
                  .filter(cell => cell[0] == to[0] && cell[1] == to[1])
                  .length > 0;
          } else {
              return true;
          }
      }

     function move(from, to) {
         if (from == null || validateMove(from, to, mapDimension)) {
             var payload = {
                 'key': uuid,
                 'to': to
             }
             var url = window.location.protocol + "//" + window.location.host + "/move";
             var opts = {
                 method: 'POST',
                 body: JSON.stringify(payload),
                 headers: {
                     'Content-Type': 'application/json;charset=utf-8',
                     'Cache-Control':'no-cache'
                 }
             };
             fetch(url, opts)
                 .then(function (response) {
                     return response.json();
                 })
                 .then(function (move_resp) {
                     var peek_cells = move_resp['peek_cells'];
                     var energy_spent = move_resp['energy_spent'];
                     peek_cells.forEach(function(cell_data) {
                         peek(cell_data[0], cell_data[1]);
                     });
                     updateEnergySpent(energy_spent);

                     var toid = to[0] + '-' + to[1];
                     var tocell = document.getElementById(toid);
                     tocell.classList.remove('fow');
                     tocell.classList.add('actor');
                     tocell.innerHTML = '🛸';
                     if (from !== null) {
                         var fromid = from[0] + '-' + from[1];
                         var fromcell = document.getElementById(fromid);
                         fromcell.classList.remove('actor');
                     }
                 });
         }
     }

     function placeDestination(destination) {
         var id = destination[0] + '-' + destination[1];
         var cell = document.getElementById(id);
         cell.innerHTML = '🚩';
     }

      function attachCellClickEventListener(target) {
          target.addEventListener('click', (e) => {
              var classes = e.target.classList;
              if (classes.contains("actor")) {
                  e.target.classList.add('cell-selected');
                  state = e.target.id.split('-').map(i => parseInt(i));
              } else {
                  if (state !== null) {
                      var start = state;
                      var startCell = document.getElementById(start.join('-'));
                      startCell.classList.remove('cell-selected');
                      state = null;

                      var end = e.target.id.split('-').map(i => parseInt(i));
                      tryMove(start, end);
                  }
              }
          });
      }

      function attachEventListeners() {
          document.addEventListener('keyup', (e) => {
              console.log(e);
              console.log(e.target.classList);
              switch (e.code) {
              case "ArrowUp":
                  tryMove();
                  break;
              case "ArrowDown":
                  tryMove();
                  break;
              case "ArrowRight":
                  tryMove();
                  break;
              case "ArrowLeft":
                  tryMove();
                  break;
              };
          });
      }

      function tryMove(src, dest) {
          // TODO: should allow only 4 neighbours
          if (dest[0] < mapDimension[0] &&
              dest[1] < mapDimension[1]) {
              move(src, dest);
          } else {
              console.log("cannot move", src, dest);
          }
      }

      function updateEnergySpent(energy_spent) {
          console.log(energy_spent);
          var scoreDiv = document.getElementById('scoreContainer');
          scoreDiv.innerHTML = energy_spent;
      }

      function peek(cell, cost) {
          var id = cell[0] + '-' + cell[1];
          var cell = document.getElementById(id);
          cell.classList.remove('fow');
          cell.innerHTML = cost;
     }
    </script>
  </body>
</html>
